
@media screen and (min-width:768px) {

    nav ul li {
        font-size: 18px;
    }
    
    nav ul li a{
        @include nav_a;
    }
    
    nav ul li a:hover{
        @include hover;
    }

    .main .row{
        height: 90vh;
    }

    .imagen img {
        width: 80%;
    }

    .cards {
        margin-top: 0%;
    }

    .footer-1 {
        margin-top: 0%;
    }

    .footer-2 {
        margin-top: 150%;
      }

    .footer-3 {
        margin-top: 150%;
    }

    .tecnologias {
        min-height: 400px;
        margin-top: 0%;
    }

    .imagen-3 img {
        min-width: 100%;
    }

    .buttons .botones ul{
        flex-direction: row;
        justify-content: space-between;
    }


    .cartas .container-fluid .row{
        margin-left: 10px;
    }

    .cover-1 .container-fluid {
        height: 750px;

        .row .margin {
            width: 40%;
            margin: 20px;
        }
    }

    .cover-2 .container-fluid .row {
        height: 0%;
        margin-top: 0%;
    }
}

@media (min-width:992px) {
    .footer-2 {
        margin-top: 0%;
    }

    .cover-1 .container-fluid {
        height: 650px;
    }
    
}

@media (min-width:1200px) {

    .imagen-3 img {
        min-width: 120%;
    }

    .content-width {
        width: 1110px;
    }

    .content-width-2 {
        width: 1000px;
    }

    .content-width-3 {
        width: 1200px;
    }
}

.hero-2 .row {
    text-align: center;
    height: 90vh;

    h2 {
        font-size: 45px;
    }
    .boton-1 {
        border-radius: 1px solid #000;
        padding: 12px 50px;
        background-color: map-get($color, boton);
    }

    .boton-2 {
        border-radius: 1px solid #000;
        padding: 12px 50px;
        
    }

    
}