// colors
$primary: #2e2e2e;
$secondary: #000;
$color-boton: #ee82ee;
$alternative: #0000ff;
$color-orange: #ff4500;


// background
$background-1: #9a889e;
$background-2: #303030;
$background-3: #060707;

// spacing 
$spacing: 0.6rem;

// font family 
$font-principal: 'Source Sans Pro', sans-serif;
