

// pagina index html 

main .text{
    
    .p {
        @include parrafo;
    }
    button {
        padding: 12px 50px;
    }
}

.imagen img{
    @include img;
    width: 60%;
}

.cards {
    margin-top: 10%;
    height: 500px;
    .card {
        @include parrafo;
        background-color: map-get($color, primary);
    }
}

.imagen-2 img {
    box-shadow: 1px 1px 3px 7px;
}

.tecnologias {
    margin-top: 80%;
    background: rgb(88, 79, 121);
    .work img{
    @include img;
}



.tecno-text p{
    @include parrafo;
}

}


