// pagina mas html 


.mas .row {
    margin: 5px;

    .imagen-mas img{
        @include img;
    }

    .text {
        border-radius: 10px;
        box-shadow: 1px 1px 7px;

        h1 {
            color: map-get($color, alternative);
        }
    }
}

.buttons .row{
    height: 550px;
  }
  
  
  .buttons a {
    margin: 30px;
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: $background-3;
    color: $color-orange;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
  }
  
    .buttons a:hover {
    transform: scale(1.2);
  }


  .mas {
    @include imagen (no-repeat, cover, center);
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../img/fondo-mas.jpeg);
}

.mas .row {
  height: 90vh;
}

