// pagina sobre mi html 

.info .text p {
    @include parrafo;
}

// backgrounds

.background {
    background: $background-1;
}
.background-2 {
    background: $background-2;
    .row {
        height: 200px;
    }
}

// imagenes

.imagen-3 img{
    @include img;
    width: 80%;
}